:root 
{
  --background-color: #f0f0f0;
  --main-color: #2a6364;
  --hover-color: #1b2f30
}

.verify-wrapper {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8; /*f0f4f8 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

/* Container for the form */
.verify {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.resend:disabled {
  opacity: 0.5; /* Visual cue that the button is disabled */
  cursor: not-allowed;
}

/* Form heading */
h2 {
    font-size: 24px;
    margin-bottom: 0.5rem;
    color: #333;
}

/* Subheading */
p {
    color: #777;
    font-size: 14px;
    margin-bottom: 2rem;
}

/* Input fields */
input[type="email"],
input[type="text"],
input[type="password"] {
    width: 75%;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    /*border just on bottom*/
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
}

/* Input focus effects */
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #00c4c4;
    outline: none;
}

/* Login button */
button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #007272;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
button[type="submit"]:hover {
    background-color: #003636;
}

.createAccount {
    margin-top: 30px;
    color: rgb(83, 83, 83);
}

.create
{
  color: rgb(83, 83, 83);
  padding: 10px;
}


.inlineInputButton
{
  display: inline-block;
  width: 100%;
  margin-left: -5%;
}
.resend
{
  margin-left: -20%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: white;
  background-color: var(--main-color);
}

.resend:disabled {
    background-color: grey;
    opacity: 0.5; /* Visual cue that the button is disabled */
    cursor: not-allowed;
  }

.resend:hover
{
  background-color: var(--hover-color);
}

.tooltip {
    position: absolute;
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 5px;

    border-radius: 4px;
    border: rgb(101, 101, 101);
    border-width: 1px;
    border-style: solid;

    top: 100%; /* Position below the button */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    width: max-content;
  
    font-size: 16px;
    box-shadow:  rgba(0, 0, 0, 0.1);
    visibility: visible; /* Ensure it's always visible when conditions are met */
  }
  
  
  
  .inlineInputButton:hover .tooltip {
    opacity: 1; /* Show tooltip on hover */
  }

  .errorText
  {
    color: rgb(100, 0, 0);
  }