:root 
{
  --background-color: #ffffff;
  --main-color: #2a6364;

  --header-color: #333;
  --text-color: #777;
  --hover-color: #1b2f30;

}

.searchBar
{
  width: 100%;
  display: flex;
  align-content: center;
  margin: 2rem auto;
}
.searchBar input
{
  width: 30%;
  align-content: center;
  margin: 0 0 0 33%; /* I have no idea how to center this bar without using magic numbers*/

}

.searchBar button
{
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px 0 10px;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: var(--main-color);
}

.searchBar button:hover
{
  cursor: pointer;
  background-color: darkgoldenrod;
}


.item-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr)); /* Responsive columns */
  gap: 1rem; /* Space between items */
  max-width: 80%; /* Ensures the wrapper does not exceed the screen width */
  padding: 1rem; /* Adds padding within the wrapper */
  margin: auto; /* Centers the wrapper on the page */
}

.item {
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 15rem; /* Consistent height */
  min-width: 200px; /* Ensures items don't shrink below 200px */
}


.item-title {
  font-size: medium;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
}

.item-img {
  display: block;
  margin: 0 auto; /* Centers the image */
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1;
  border: 2px solid #e1e1e1;
}

.item-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: 2px solid #0e0e0e;
}

.item-img-button{
  border: none;
  background-color: white;
}

.item-desc-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
  text-wrap: pretty;
}

.leftCol,
.rightCol {
  flex-basis: 45%; /* Takes up half of the width for price and condition */
  text-align: center;
}

.item-text.location {
  text-align: center;
  margin-top: -2rem;
  display: block;
}



.page-select-wrapper
{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50px;


}
.page-select-wrapper span {
  display: flex;
  justify-self: center;
  align-content: center;
  margin: auto 10px;

}


.page-select-button
{
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: normal;
  border: 2px solid #ffffff;
  border-radius: 10px;
  min-width: 100px;
}
.page-select-button:hover
{
  background-color: var(--hover-color);
  font-weight: bold;
}

.limit-wrapper
{
  display:inline-block;
  justify-content: center;
  align-content: center;
  margin: auto;
  
}

.limit
{
  border-radius: 10px;
  

}
.limit-wrapper p
{
  margin: auto;
  
}