:root 
{
  --background-color: #ffffff;
  --main-color: #2a6364;

  --header-color: #333;
  --text-color: #777;

  --hover-color: #1b2f30;

}

/* Contains General/Multi Page Styles for Consistency */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--header-color);
    color: white;
    padding-top: 1rem;
    min-height: 10rem;
    text-align: center;
}
