:root 
{
  --background-color: #ffffff;
  --main-color: #2a6364;

  --header-color: #333;
  --text-color: #777;

  --hover-color: #1b2f30;

}

/* Contains General/Multi Page Styles for Consistency */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--header-color);
    padding-top: 1rem;
    min-height: 10rem;
    text-align: center;
}

header h1{
  color: rgb(255, 255, 255);
  text-align: center;
}

header p{
  color: rgb(255, 255, 255);
  text-align: center;
}

select{
  border-radius: 0;
  font-weight: 400;
  color: inherit;
  padding: 11px 15px;
  line-height: normal;
  transition: border-color 0.2s ease,
              outline 0.2s ease;
}