:root 
{
  --background-color: #ffffff;
  --main-color: #2a6364;

  --header-color: #333;
  --text-color: #777;

  --hover-color: #1b2f30;
  --button-hover-color: #494949;

}
.home-container {
    position: relative; /* Ensure the container is positioned relative for absolute positioning of the pseudo-element */
    font-size: large;
    margin: 0;
    padding: 0;
    color: white; /* Change text color for better visibility */
    min-height: 100vh; /* Makes the container full height */
    overflow: hidden; /* Prevents overflow of the pseudo-element */
}

.home-container::before {
    content: ''; /* Needed to create the pseudo-element */
    position: absolute; /* Positioning it absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/home_page.jpg'); /* Update with your image path */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    filter: blur(5px); /* Apply the blur effect */
    z-index: 0; /* Send it to the back */
}

.home-container > * {
    position: relative; /* Position child elements on top of the pseudo-element */
    z-index: 1; /* Ensure content is above the blurred background */
}

.home-description {
    background-color: white;
    color: rgb(31, 31, 31);
    font-size: large;
    text-align: center;
    padding: 50px;
    border-radius: 30px;
    max-width: 1000px;
    margin: 20px auto auto auto;

    
}

.home-button-section{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    width: 60%; /* Set width to 80% of the screen */
    margin: 0 auto; /* Center horizontally */
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.home-button{
    background-color: var(--header-color);
    border: none;
    white-space: nowrap;
    color: white;
    font-size: x-large;
    padding: 20px 0px 20px 0px; /* top, right, bottom, left*/
    border-radius: 15px;
    margin: 0px 15px 0px 15px;
    flex-basis: 100%;
}

.home-button:hover {
    cursor: pointer;
    transform: scale(1.025);
    background-color: var(--button-hover-color);
}


.sponsor-image-container{
    background-color: white;
    color: black;
    font-size: 100;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.sponsor-images-section{
    display: flexbox;
    margin: 10px 0 0 0;
}
.sponsor-images-section img{
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
    margin: 5px 0 5px 1rem;
}