/* Profile page css */

.welcome-text {
    color: rgb(255, 255, 255);
    background-color: #333333;
    border: 2px solid #e1e1e1;
    font-size:25px;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bio-box {
    background-color: #e1e1e1;
    border: 2px solid #000000;
    display: flexbox;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}

.bio-box-title {
    font-size: 25px;
    float: center;
    font-weight: bold;
}

.bio-box-info{
    color: black;
    font-size: 20px;
    background-color: #e1e1e1;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bio-box-pencil{
    margin: 0 15px 0 0;
}

.line-break {
    display: flex;
    width: 100%;
    height: 10px;
    background-color: #e1e1e1;
}

.options-box {
    background-color: #e1e1e1;
    border: 2px solid #000000;
    font-size: 20px;
    display: flexbox;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}

.options-box-title {
    font-size: 25px;
    float: center;
    font-weight: bolder;
}

.options-box-info{
    color: black;
    font-size: 20px;
    background-color: #e1e1e1;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.value {
    float: right;
}
