:root 
{
  --background-color: #f0f0f0;
  --main-color: #2a6364;

  --header-color: #333;
  --text-color: #777;

  --hover-color: #1b2f30;

}


.welcome-text {
    color: rgb(255, 255, 255);
    background-color: #333333;
    border: 2px solid #e1e1e1;
    font-size:25px;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bio-box {

    border: 2px solid #797979;
    display: flexbox;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
}

.bio-box-title {
    font-size: 25px;
    float: center;
    font-weight: bold;
}

.bio-box-info{
    color: black;
    font-size: 20px;
    background-color: #e1e1e1;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bio-row
{
    margin: 1rem 0 0 0;    
}

.bio-box-pencil {
    margin: 3px 10px 0 0;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 20px;

}


.value {
    float: right;
}

.line
{
    border-style: solid;
    border-color: rgba(155, 155, 155, 0.472);
    border-radius: 100px;
    padding: 0px;
    width: 50%;
    margin: 2rem auto;
}


